<a href="https://colab.research.google.com/github/utkarshnsr/Candidate-Salary-Prediction-Multiple-Variable-Regression-/blob/main/HiringSalaryPrediction(Multiple_Regression_Practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [43]:
hiringDf = pd.read_csv("/content/hiring.csv")

In [44]:
hiringDf

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [45]:
#filling all the NaN values in the experience column. I am assuming all these values have zero experience (safe assumption)

hiringDf['experience'] = hiringDf['experience'].fillna('zero')

In [46]:
hiringDf

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

Next step is to convert the experience column values from words to numbers.

In [47]:
!pip install word2number
import word2number as word2number

Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)

In [48]:
!pip install wordtodigits
import wordtodigits

Requirement already satisfied: wordtodigits in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [49]:
#testing the library with example
value = "one"
result = wordtodigits.convert(value)
print(type(result))

<class 'str'>

In [50]:
#first converting the experience column of the hiringDf to list
experienceList = list(hiringDf.experience)
print(experienceList)

['zero', 'zero', 'five', 'two', 'seven', 'three', 'ten', 'eleven']

In [51]:
numericalExperience = []

for i in range(len(experienceList)):
  numericalExperience.append(int(wordtodigits.convert(experienceList[i])))

print(numericalExperience)

[0, 0, 5, 2, 7, 3, 10, 11]

In [52]:
hiringDf['experience'] = numericalExperience
hiringDf

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [53]:
#next we need to handle the one missing value in test_score column

In [54]:
import math
medianTestScore = math.floor(hiringDf['test_score(out of 10)'].mean())
hiringDf['test_score(out of 10)'] = hiringDf['test_score(out of 10)'].fillna(medianTestScore)

In [55]:
hiringDf

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [56]:
from sklearn import linear_model

linReg = linear_model.LinearRegression()
linReg.fit(hiringDf[['experience','test_score(out of 10)','interview_score(out of 10)']], hiringDf['salary($)'])

LinearRegression()

In [57]:
linReg.coef_

array([2922.26901502, 2221.30909959, 2147.48256637])

In [58]:
linReg.intercept_

14992.651446693148

Now we will try to predict the salary for two candidates.


*   2 year experience, 9 test score, 6 interview score (candidate 1)
*   12 year experience, 10 test score, 10 interview score (candidate 2)

In [59]:
candidate1Salary = linReg.predict([[2,9,6]])
candidate2Salary = linReg.predict([[12,10,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [60]:
print(candidate1Salary)
print(candidate2Salary)

[53713.86677124]
[93747.79628651]

These values make sense. Candidate 2 should obviously have the higher compensation given the greater numbers in experience, test score, and interview score.

In [63]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(linReg, open(filename, 'wb'))

In [64]:
#testing
loaded_model = pickle.load(open(filename, 'rb'))

In [65]:
loaded_model.predict([[2,9,6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([53713.86677124])